.CorkBoard {
  background-image: url(../images/CorkBoard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
}

.CorkBoard__Blocks {
  background-image: url(../images/PostNote.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 500px;
  max-height: 500px;
}
